[submodule "packages/core-cpp/vendor/ggml"]
	path = packages/core-cpp/vendor/ggml
	url = https://github.com/ggerganov/ggml
[submodule "packages/core-cpp/vendor/llama.cpp"]
	path = packages/core-cpp/vendor/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "packages/core-cpp/vendor/spdlog"]
	path = packages/core-cpp/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "packages/core-cpp/vendor/xxHash"]
	path = packages/core-cpp/vendor/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "packages/core-cpp/vendor/sol2"]
	path = packages/core-cpp/vendor/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "packages/core-cpp/vendor/lua"]
	path = packages/core-cpp/vendor/lua
	url = https://github.com/lua/lua.git
[submodule "packages/core-cpp/vendor/lua-cjson"]
	path = packages/core-cpp/vendor/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
