@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  // Disable overscroll, thanks to
  // https://github.com/tauri-apps/tauri/issues/4309.
  body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@layer components {
  .btn {
    @apply border;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-md {
    @apply rounded px-4 py-2;
  }

  .btn-primary {
    @apply bg-blue-500 text-white;
  }

  .btn-success {
    @apply bg-green-500 text-white;
  }

  .btn-error {
    @apply bg-red-500 text-white;
  }
}
