@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("vue3-toastify/dist/index.css");

@layer base {
  // Disable overscroll, thanks to
  // https://github.com/tauri-apps/tauri/issues/4309.
  body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .prose-tight {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply leading-none tracking-wide;
    }

    p {
      @apply leading-tight;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    img {
      @apply my-2;

      &:first-child {
        @apply mt-0;
      }

      &:last-child {
        @apply mb-0;
      }
    }
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply select-none whitespace-nowrap;

    > * {
      @apply pointer-events-none;
    }
  }

  .btn-shadow {
    @apply text-shadow;

    & > * {
      @apply drop-shadow;
    }
  }

  .btn-pressable {
    @apply transition-transform pressable;
  }

  .btn-pressable-sm {
    @apply transition-transform pressable-sm;
  }

  .btn-md {
    @apply gap-1 px-4 py-2 font-semibold;
  }

  .btn-md-square {
    @apply aspect-square shrink-0 gap-1 p-2 font-semibold;
  }

  .btn-sm {
    @apply gap-1 px-2 py-1 text-sm font-semibold;
  }

  .btn-sm-square {
    @apply aspect-square shrink-0 gap-1 p-1 text-sm font-semibold;
  }

  .btn-neutral {
    @apply bg-neutral-100 text-neutral-800;
  }

  .btn-primary {
    @apply btn-shadow  bg-primary-500 text-primary-base;
    @apply border-b-[2px] border-b-primary-600;
  }

  .btn-secondary {
    @apply btn-shadow  bg-secondary-500 text-secondary-base;
  }

  .btn-success {
    @apply btn-shadow  bg-success-500 text-success-base;
  }

  .btn-warn {
    @apply btn-shadow  bg-warn-500 text-warn-base;
  }

  .btn-error {
    @apply btn-shadow  bg-error-500 text-error-base;
  }

  .btn-primary,
  .btn-secondary,
  .btn-success,
  .btn-warn,
  .btn-error {
    &:not(:disabled):hover {
      @apply brightness-105 transition;
    }
  }

  .link {
    @apply text-primary-500 underline;
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
