@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

@layer base {
  // Disable overscroll, thanks to
  // https://github.com/tauri-apps/tauri/issues/4309.
  body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center;
    @apply disabled:cursor-not-allowed disabled:opacity-50;
    @apply select-none whitespace-nowrap;

    > * {
      @apply pointer-events-none;
    }
  }

  .btn-shadow {
    @apply text-shadow;

    & > * {
      @apply drop-shadow;
    }
  }

  .btn-pressable {
    @apply transition-transform pressable;
  }

  .btn-pressable-sm {
    @apply transition-transform pressable-sm;
  }

  .btn-md {
    @apply gap-1 px-3 py-1 font-semibold;
  }

  .btn-lg {
    @apply gap-1 px-3 py-2 font-semibold;
  }

  .btn-neutral {
    @apply border border-neutral-300 bg-neutral-200 text-neutral-800;
  }

  .btn-primary {
    @apply btn-shadow border border-primary-600 bg-primary-500 text-primary-base;
  }

  .btn-secondary {
    @apply btn-shadow border border-secondary-600 bg-secondary-500 text-secondary-base;
  }

  .btn-success {
    @apply btn-shadow border border-success-600 bg-success-500 text-success-base;
  }

  .btn-warn {
    @apply btn-shadow border border-warn-600 bg-warn-500 text-warn-base;
  }

  .btn-error {
    @apply btn-shadow border border-error-600 bg-error-500 text-error-base;
  }

  .btn-neutral,
  .btn-primary,
  .btn-secondary,
  .btn-success,
  .btn-warn,
  .btn-error {
    &:not(:disabled):hover {
      @apply brightness-105 transition;
    }
  }

  .link {
    @apply text-primary-500 underline;
  }
}
